name: workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Lint code
        run: echo "Linting repository"

      - name: Run unit tests
        run: echo "Running unit tests"

  build-and-push-ecr-image:
    name: Continuous Delivery
    needs: integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (MANDATORY)
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-depth: 0

      - name: Verify Dockerfile used by CI
        run: |
          echo "PWD:"
          pwd
          echo "Dockerfile content:"
          cat Dockerfile
          echo "Dockerfile size:"
          wc -c Dockerfile

      - name: Build Docker image
        run: |
          docker build --no-cache -f Dockerfile -t test-image .